@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  font-family: "Indie Flower";
}
a {
  color: inherit !important;
  text-decoration: none;
}

.btn-danger {
  background-color: #d6d3f0;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-danger:hover {
  background-color: #d6d3f0;
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../public/Design/StockSnap_P1UGP3KR2S.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.fixed {
  width: 400px;
  height: 400px;
}
.card-img-top {
  width: 200px !important;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.btn-primary {
  background-color: #d6d3f0;
  border: 3px solid #d6d3f0;
}

.btn-primary:hover {
  background-color: #d6d3f0;
  border: 3px solid #d6d3f0;
}

.text-size {
  font-size: 1.5rem;
}
.tin {
  background-color: #ff5864;
  border-color: #ff5864;
}
.header-color {
  color: #ff5864;
  font-size: 1.6rem;
}
.day {
  background-color: #fff !important;
  color: #000 !important;
}

.night {
  background-color: #000 !important;
  color: #fff !important;
}
table,
th,
td {
  border: 1px solid #d6d3f0 !important;
}
.list-style-type-none {
  list-style-type: none;
}
